@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}


#heading{
    font-family:'Dancing Script';
    font-size: 2rem;  
    padding-top:0px;  
    margin-left: 2rem;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 1, 32);
    color: white;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
}

.superhero-icon{
    height: 45px;
    width: 50px;
    border-radius: 50%;
    margin-left: 6rem;
}

#left-navbar{
    display: flex;
    align-items: center;
}

#right-navbar{
    margin-right: 7rem;
}

.home{
    margin-right: 4rem;
}

/* body */

body{
    background: linear-gradient(rgba(0, 0, 5, 0.7), rgba(0, 0, 5, 0.7)),
    url(./images/background.jpg);
/* background-image: url(./images/background.jpg); */
}

#main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 8%;
    z-index: 10;

}

.main-heading{
    font-size: 3.1rem;
    font-family:'Dancing Script';
    margin-bottom: 3rem;
}

#main input{
    font-size: 1.7rem;
    border-radius: 2px;
    padding: 0.8rem;
    border: none;
    outline: none;
    width: 40rem;
    
}

/*  */

.search-result{
    height: 100vh;
    overflow: auto;
}

.card{
    display: flex;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
    color: black;
    border-bottom: 1px solid green;
    border-top: 1px solid green ;
    padding: 1rem;
    /* overflow: scroll; */
}

.card img{
    height: 100px;
    width: 80px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 5px;
    
}

.card-details{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card-details h1{
    margin: 0;
}

.card-details button{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.card-details .search{
    background-color: grey;
}

.card-details .addToFav{
    background-color: rgb(58, 165, 58);
}