@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    background: linear-gradient(rgba(0, 0, 5, 0.7), rgba(0, 0, 5, 0.7)),
    url(./images/background.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}

/* Navbar */
#heading{
    font-family:'Dancing Script';
    font-size: 2rem;  
    padding-top:0px;  
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 1, 32);
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100vw;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.75);
}

.superhero-icon{
    height: 45px;
    width: 50px;
    border-radius: 50%;
    margin-left: 6rem;
    margin-right: 1rem;
}

#left-navbar{
    display: flex;
    align-items: center;
}

#right-navbar{
    margin-right: 7rem;
}

.home{
    margin-right: 4rem;
}

/* Main section */

#main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.main-heading{
    font-size: 3.2rem;
    font-family:'Dancing Script';
    margin-bottom: 2.5rem;
    text-align: center;
}

#mob-heading{
    display: none;
}

#main input{
    font-size: 1.9rem;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    outline: none;
    width: 40rem;   
}

/* Seacrh Result */
.search-result{
    height: 60vh;
    overflow: auto;
}

.card{
    display: flex;
    padding-left: 2px;
    margin-bottom: 0;
    margin-top: 1px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-bottom: 1px solid green;
    border-top: 1px solid green ;
    padding: 1rem;
}

.card img{
    height: 150px;
    width: 125px;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 10px;
    
}

.card-details{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card-details h1{
    margin: 0;
    font-size: 2.1rem;
}

.card-details button{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.card-details .search{
    background-color: grey;
    transition: all .2s ease-in-out;
}

.card-details button:hover{
    transform: scale(1.1);
}

.card-details .addToFav{
    background-color: rgb(45, 153, 45);
}

/* Details */
#details{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px ;
    height: 81vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#details img{
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);    
}

i{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: rgb(241, 26, 26);
    
}

#name{
    font-size: 2.5rem;
    text-align: center;
    font-weight:900;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 1rem;
    margin: 1rem;
}

#power-stats{
    font-weight: bolder;
}

#intelligence, #strength, #power{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
    color: whitesmoke;
}

/* Fav cards */
#fav-cards{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
    margin-top: 9%;
}

.fav-card img{
    height: 350px;
    border-radius: 1rem;
    box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0,0,0,1);    
}

.fav-card{
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 8%;
    min-width: 20%;
    text-align: center;
    padding-top: 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.fav-card:hover{
    transform: scale(1.1);
}

.fav-card h1{
    font-size: 2.5rem;
}

.fav-card i{
    margin-bottom: 24px;
}

/* Media Query */
@media screen and (max-width:768px) {
    #navbar{
        width: 100%;
    }

    #left-navbar a{
        display: none;
    }

    #right-navbar{
        display: flex;
        margin-right: 2.5rem;
    }
    
    .superhero-icon{
        display: none;
    }

    /* main */
    .main-heading{
        display: none;
    }

    #mob-heading{
        display: block;
        margin-top: 15%;
        margin-bottom: 7%;
        font-family:'Dancing Script';
        font-size: 1.8rem;
        padding: 10px;
        font-weight: 900;
        text-align: center;
    }

    #main input{
        width: 83%;
        font-size: 0.9rem;
    }

    #input{
        display: block;
        margin-left: 14px;
        margin-right: 14px;
    }

    /* search-results */
    .card{
        margin-left: 4%;
        margin-right: 4%;
    }

    .card-details h1{
        font-size: 1.6rem;
    }

    .card img{
        height: 125px;
        width: 100px;
    }

    .card-details button{
        font-size: 1rem;
        padding: 8px;
    }

    /* details */
    #details{
        width: 60%;
        height: 75vh;
    }
    #details img{
        height: 200px;
    }
    
    #name{
        font-size: 2rem;
        text-align: center;
    }

    #intelligence, #strength, #power{
        font-size: 1rem;   
    }

    /* Favourites */
    .fav-card img{
        height: 200px;
    }

    .fav-card h1{
        font-size: 1.5rem;
    }

    .fav-card{
        margin: 40px 0px;
        padding: 20px;
    }

    .fav-card i{
        margin-bottom: 0;
        font-size: 1.8rem;
    }
}